<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trang Quản Lý</title>
</head>
<body>
<div>
    <h1>Xin Chào Đến với dự án của nhóm F6</h1>
    <ul style="font-size: 50px;" class="container">
        <li>
            <a href="admin/product">Product</a>
        </li>
        <li>
            <a href="admin/customer">Customer</a>
        </li>
        <li>
            <a href="admin/employee">Employee</a>
        </li>
        <li>
            <a href="admin/promotion">Promotion</a>
        </li>
        <li>
            <a href="admin/voucher">Voucher</a>
        </li>
        <li>
            <a href="admin/bill">Bill</a>
        </li>
    </ul>
    <a href="/"style="font-size: 30px;">Back</a>
</div>
</body>
</html>