<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>F6</title>
</head>
<body>
<ul style="font-size: 50px;" class="container">
    <li>
        <a href="/admin" style="color: darkcyan">Admin</a>
    </li>
    <li>
        <a href="/product">Product</a>
    </li>
    <li>
        <a href="/cart">Cart</a>
    </li>
    <li>
        <a href="/address">Address</a>
    </li>
    <li>
        <a href="/addData" style="font-size: 20px;color: darkgreen">Chưa có dữ liệu thì click vào đây để thêm dữ liệu vào Database nhá <3 <br>(Có thể dùng để reser Data cũng được hehe)</a>
    </li>
</ul>
</body>
</html>